/* General *********************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: thin solid red; */
}
html {
  color: #333;
  background: #f1f1f1;
  font-family: "Raleway", sans-serif;
  font-size: clamp(1rem, 1.25vw, 1.25rem);
}
main {
  width: min(1000px, 90%);
  margin: 0 auto;
  display: grid;
  row-gap: 4rem;
  column-gap: 2.5rem;
  grid-template-areas:
    "education"
    "skills"
    "projects"
    "certifications"
    "experience"
    /* "extracurriculars" */
    "honors";
}
h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.875rem;
  margin: 0 0 0.75rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.125rem;
}
h2::before, h2::after {
  content: "";
  height: 0.25rem;
  background: #333;
  flex: 1;
  margin: 0 0.25em 0 0;
  transform: skew(135deg);
}
h2::after {
  margin: 0 0 0 0.25em;
  transform: skew(45deg);
}
h3 {
  font-size: 1.125rem;
}
ul {
  padding-left: 1.125rem;
}
li {
  padding-right: 0.125rem;
}
img {
  border-radius: 1.25rem 1.25rem 0 0;
}
.no-bullets {
  list-style-type: none;
  padding-left: 0;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.capital {
  text-transform: capitalize;
}
.no-wrap {
  white-space: nowrap;
}
.container {
  display: grid;
  gap: 2.5rem;
}
.card {
  background: #f7f7f7;
  border-radius: 1.25rem;
  box-shadow:
    0 10px 20px 0 rgba(169, 169, 169, 0.2);
}
.content {
  padding: 0.75rem 1rem 1rem;
  display: grid;
  gap: 1rem;
}
.card.content {
  padding-top: 1rem;
}
.details {
  display: grid;
  gap: 0.25rem;
}
.details li {
  padding-left: 1.375rem;
}
.material-symbols-rounded {
  margin-left: -1.375rem;
  font-size: 1.125rem;
}
/* Header **********************************************************/
header {
  margin: 0 0 3rem;
}
nav {
  background-color: #e6e6e6;
  border-bottom: thin solid gray;
  margin: 0 0 3rem;
}
nav .container {
  gap: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.25rem;
  letter-spacing: -0.125rem;
}
#hamburger {
  position: absolute;
  top: 0.625rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 1.625rem;
}
.bar {
  height: 0.25rem;
  width: 100%;
  background-color: #333;
  border-radius: 0.625rem;
}
#navlinks {
  display: none;
  flex-direction: column;
  width: 100%;
}
#navlinks.active {
  display: flex;
}
#navlinks li {
  padding-right: 0;
}
#navlinks a {
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  color: #333;
  text-align: center;
}
#navlinks a:hover {
  background-color: #d5d5d5;
}
header .container {
  width: min(1000px, 90%);
  margin: 0 auto;
}
header .content {
  grid-template-areas:
    "img"
    "degree"
    "concentration"
    "location";
}
header img {
  grid-area: img;
  display: block;
  margin: 1.5rem auto 0;
  /* border: thin solid green; */
  border-radius: 50%;
}
header p {
  line-height: 1.25;
}
header p:nth-of-type(1) {
  grid-area: degree;
}
header p:nth-of-type(2) {
  grid-area: concentration;
}
header p:nth-of-type(3) {
  grid-area: location;
}
/* Education *******************************************************/
#education {
  grid-area: education;
}
#education .container {
  grid-template-areas:
    "ut";
}
#ut {
  grid-area: ut;
}
#education .content {
  grid-template-areas:
    "emblem"
    "details"
    "coursework";
}
#education img {
  /* width: min(100%, 400px); */
  width: 100%;
  border-radius: 0;
  grid-area: emblem;
}
#education .details {
  grid-area: details;
  grid-template-areas:
    "major"
    "minor"
    "gpa"
    "date"
    "location";
  gap: 0.5rem;
}
#education .details .major {
  grid-area: major;
}
#education .details .minor {
  grid-area: minor;
}
#education .details .date {
  grid-area: date;
}
#education .details .location {
  grid-area: location;
}
#education .details .gpa {
  grid-area: gpa;
}
#education .coursework {
  grid-area: coursework;
}
/* Projects ********************************************************/
#projects {
  grid-area: projects;
}
#projects .container {
  grid-template-areas:
    "website"
    "explorer"
    "predictor";
}
#projects .card {
  display: grid;
  grid-template-areas:
    "img"
    "content";
}
#projects img {
  width: 100%;
  height: auto;
  grid-area: img;
}
#projects h3 {
  grid-area: project
}
#projects .content {
  grid-area: content;
  grid-template-areas:
    "project"
    "details"
    "responsibilities";
}
#projects .details {
  grid-area: details;
}
#projects .responsibilities {
  grid-area: responsibilities;
}
/* Certifications **************************************************/
#certifications {
  grid-area: certifications;
}
#certifications .container {
  grid-template-areas:
    "html"
    "css"
    "js"
    "git"
    "layout";
}
#html {
  grid-area: html;
}
#css {
  grid-area: css;
}
#js {
  grid-area: js;
}
#git {
  grid-area: git;
}
#layout {
  grid-area: layout;
}
#certifications .card {
  display: grid;
  grid-template-areas:
    "img"
    "content";
}
#certifications img {
  width: 100%;
  height: auto;
  grid-area: img;
}
#certifications .content {
  grid-area: content;
}
#certifications .details {
  grid-template-areas:
    "issuer"
    "date";
}
#certifications .details .issuer {
  grid-area: issuer;
}
#certifications .details .date {
  grid-area: date;
}
/* Skills **********************************************************/
#skills {
  grid-area: skills;
}
#skills .container {
  grid-template-areas:
    "languages"
    "tools";
}
#languages {
  grid-area: languages;
  grid-template-areas:
    "languages languages"
    "experienced familiar";
  grid-template-columns: 1fr 1fr;
}
#languages h3 {
  grid-area: languages;
}
#experienced {
  grid-area: experienced;
}
#familiar {
  grid-area: familiar;
}
#tools {
  grid-area: tools;
}
/* Experience ******************************************************/
#experience {
  grid-area: experience;
}
#experience .container {
  grid-template-areas:
    "nursing";
}
#nursing {
  grid-area: nursing;
}
#experience .card {
  display: grid;
  grid-template-areas:
    "img"
    "content";
}
#experience img {
  width: 100%;
  height: auto;
  grid-area: img;
}
#experience .content {
  grid-area: content;
  grid-template-areas:
    "position"
    "details"
    "responsibilities";
}
#experience h3 {
  grid-area: position;
}
#experience .details {
  grid-area: details;
  grid-template-areas:
    "employer"
    "date"
    "location";
}
#experience .details .employer {
  grid-area: employer;
}
#experience .details .date {
  grid-area: date;
}
#experience .details .location {
  grid-area: location;
}
#experience .responsibilities {
  grid-area: responsibilities;
}
/* Extracurriculars ************************************************/
/* #extracurriculars {
  grid-area: extracurriculars;
}
#extracurriculars .container {
  grid-template-areas:
    "isss"
    "apo";
}
#isss {
  grid-area: isss;
}
#apo {
  grid-area: apo;
}
#extracurriculars .card {
  display: grid;
  grid-template-areas:
    "img"
    "content";
}
#extracurriculars img {
  grid-area: img;
  width: 100%;
  height: auto;
}
#extracurriculars .content {
  grid-area: content;
  grid-template-areas:
    "position"
    "details"
    "responsibilities";
}
#extracurriculars h3 {
  grid-area: position;
}
#extracurriculars .details {
  grid-area: details;
  grid-template-areas:
    "org"
    "date"
    "location";
}
#extracurriculars .details .org {
  grid-area: org;
}
#extracurriculars .details .date {
  grid-area: date;
}
#extracurriculars .details .location {
  grid-area: location;
}
#extracurriculars .responsibilities {
  grid-area: responsibilities;
} */
/* Honors **********************************************************/
#honors {
  grid-area: honors;
}
#honors .container {
  grid-template-areas:
    "uni"
    "hlsr";
}
#uni {
  grid-area: uni;
}
#hlsr {
  grid-area: hlsr;
}
#honors .details {
  grid-template-areas:
    "issuer"
    "date";
}
#honors .details .issuer {
  grid-area: issuer;
}
#honors .details .date {
  grid-area: date;
}
/* Footer **********************************************************/
footer {
  margin: 3rem 0 0;
  padding: 1rem 0;
  background-color: #e6e6e6;
  text-align: center;
  border-top: thin solid gray;
}
footer ul {
  width: min(1000px, 90%);
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "linkedin"
    "github"
    "email"
    "phone";
}
footer li:nth-of-type(1) {
  grid-area: linkedin;
}
footer li:nth-of-type(2) {
  grid-area: github;
}
footer li:nth-of-type(3) {
  grid-area: email;
}
footer li:nth-of-type(4) {
  grid-area: phone;
}
footer a {
  text-decoration: none;
  font-style: normal;
  color: #333;
  border-radius: 0.5rem;
  display: inline-block;
  padding: 0.75rem 0.75rem 0.75rem 2rem;
}
footer a:hover {
  background-color: #d5d5d5;
}
/* Media Queries ***************************************************/
@media screen and (min-width: 476px) {
  /* Header */
  h1 {
    padding-left: 0.75rem;
    margin-left: 0.0625rem;
  }
  nav .container {
    flex-direction: row;
    align-items: center;
  }
  #hamburger {
    display: none;
  }
  #navlinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  #navlinks a {
    border-radius: 0.5rem;
    padding: 0.75rem;
    margin: 0 0.0625rem;
  }
  /* Education */
  #education .details {
    grid-template-areas:
      "major major major minor minor minor"
      "gpa gpa date date location location";
  }
  #education .coursework ul {
    column-count: 2;
  }
  /* Projects */
  #projects .content {
    grid-template-areas:
      "project project"
      "details responsibilities";
    grid-template-columns: 1fr 2fr;
  }
  #projects img {
    border-radius: 1.25rem 1.25rem 0 0;
  }
  /* Certifications */
  #certifications .card {
    grid-template-areas:
      "img content";
    grid-template-columns: 2fr 3fr;
  }
  #certifications img {
    border-radius: 1.25rem 0 0 1.25rem;
  }
  /* Skills */
  #tools ul {
    column-count: 2;
  }
  /* Experience */
  #experience .content {
    grid-template-areas:
      "position position"
      "details responsibilities";
    grid-template-columns: 1fr 2fr;
  }
  /* Extracurriculars */
  /* #extracurriculars .card {
    grid-template-areas:
      "img content";
    grid-template-columns: 3fr 4fr;
  }
  #extracurriculars img {
    border-radius: 1.25rem 0 0 1.25rem;
  } */
  /* Honors */
  #honors .container {
    grid-template-areas:
      "uni hlsr";
    grid-template-columns: 1fr 1fr;
  }
  /* Footer */
  footer ul {
    grid-template-areas:
      "linkedin email"
      "github phone";
  }
}
@media screen and (min-width: 801px) {
  /* General */
  main {
    grid-template-areas:
      "education education skills"
      "projects projects projects"
      "certifications certifications certifications"
      "experience experience experience"
      /* "extracurriculars extracurriculars extracurriculars" */
      "honors honors honors";
    grid-template-columns: 1fr 1fr 1fr;
  }
  /* Header */
  header .content {
    grid-template-areas:
      "img degree"
      "img concentration"
      "img location";
  }
  header img {
    margin: 1rem;
  }
  header p:nth-of-type(1) {
    align-self: flex-end;
  }
  header p:nth-of-type(2) {
    align-self: center;
  }
  header p:nth-of-type(3) {
    align-self: flex-start;
  }
  /* Education */
  #education {
    display: grid;
    grid-template-rows: auto 1fr;
  }
  /* Skills */
  #tools ul {
    column-count: 1;
  }
  /* Projects */
  #projects .card {
    grid-template-areas:
      "img content";
    grid-template-columns: 1fr 2fr;
  }
  #projects img {
    border-radius: 1.25rem 0 0 1.25rem;
  }
  #projects .content {
    grid-template-areas:
      "project"
      "details"
      "responsibilities";
    grid-template-columns:
      1fr;
  }
  /* Certifications */
  #certifications .container {
    grid-template-areas: none;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #html {
    grid-area: auto;
  }
  #css {
    grid-area: auto;
  }
  #js {
    grid-area: auto;
  }
  #git {
    grid-area: auto;
  }
  #layout {
    grid-area: auto;
  }
  #certifications .card {
    grid-template-areas:
      "img"
      "content";
    grid-template-columns: 1fr;
  }
  #certifications img {
    border-radius: 1.25rem 1.25rem 0 0;
  }
  /* Experience */
  #experience .container {
    grid-template-areas:
      "nursing";
  }
  #experience .card {
    grid-template-areas:
      "img content";
    grid-template-columns: 1fr 2fr;
  }
  #experience img {
    border-radius: 1.25rem 0 0 1.25rem;
    height: 100%;
  }
  #experience .content {
    grid-template-areas:
      "position"
      "details"
      "responsibilities";
    grid-template-columns: 1fr;
    }
  #experience .details {
    grid-template-areas:
      "employer employer"
      "date location";
    grid-template-columns: 1fr 1fr;
  }
  /* Extracurriculars */
  /* #extracurriculars .container {
    grid-template-areas:
      "isss apo";
    grid-template-columns: 1fr 1fr;
  }
  #extracurriculars .card {
    grid-template-areas:
      "img"
      "content";
    grid-template-columns: 1fr;
  }
  #extracurriculars img {
    border-radius: 1.25rem 1.25rem 0 0;
  } */
  /* Footer */
  footer ul {
    grid-template-areas:
      "linkedin github email phone";
  }
}