/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font: 18px "Raleway", sans-serif;
    color: #191919;
}
h1, h2 {
    font-family: "Ubuntu", sans-serif;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.3rem;
}
h4 {
    font-size: 1.1rem;
}
ul {
    list-style-type: none;
}
.content-wrap {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;
}
.content .content-item {
    padding: 20px 0;
    border-bottom: thin solid gray;
}
.content .content-item:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
}

/* About */

/* Education */
.coursework {
    column-count: 3;
    column-gap: 1.5em;
}

/* Certifications */

/* Skills */
.skills ul {
    list-style: disc inside;
}
.skills .content-item {
    border-bottom: none;
}

/* Experience */

/* Extracurriculars */

/* Honors */

/* Contact */