/* Global */
body {
    font-family: 'Raleway', sans-serif;
    color: #191919;
}
h1, h2 {
    font-family: 'Ubuntu', sans-serif;
}
.content-wrap {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
}

/* About */

/* Education */

/* Certifications */

/* Skills */

/* Experience */

/* Extracurriculars */

/* Honors */

/* Contact */